h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(83, 0, 161);
    margin-bottom: .3em;
    text-decoration: underline;
  }

h2 {
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin-bottom: .3em;
  }

body {
    background-color: lightblue;
  }

p {
  text-align: center;
  font-size: 1em;
}