/* Screenreader pronunciation Exan*/
.offscreen {
  position:absolute; 
  left:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
}

/* This removes all the default margins and paddings that exist for certain elements. */
* {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  display: block;
  font-family: Helvetica, sans-serif;
}

.page-header {
  background-color: #000000;
  padding: 1.3rem;
  display: flex;
  justify-content: flex-end;
}

.nav-bar a   {
  color: white;
  padding: 1.3rem;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

.nav-bar a.active {
  background-color: #C8F7C5;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 850px) {
  .menu-icon {
      display: block;
  }
  .nav-bar {
  display: none;
  position: absolute;
  top: 3.7rem;
  left: 0;
  width: 100%;
  background-color: var(--bgcolor);
  text-align: center;
  }
}

#toggle-menu {
  display: none;
}
#toggle-menu:checked ~ .nav-bar {
  display: block;
}

/* H1 */
h1 {
    text-align: center;
    font-size: 3em;
    color: #7FFFD4;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    padding: 15px;
  }

/* Paragraph */
p {
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

/* Into Text Div*/
.intro-text {
    /*background-image: url("Images/StockImage_DayMoon.jpg");*/
    background-color: darkslateblue;
    font-family: Helvetica, sans-serif;
  }

/* button */ 
button {
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* unvisited link */
a:link {
  color: rgb(123, 245, 253);
  background-color: black;
  border-style: dashed;
  border-color: #98FB98;
  border-width: 3px;
  padding: 10px;
}

/* visited link */
a:visited {
  color: rgb(206, 168, 255);
  background-color: black;
  border-style: dashed;
  border-color: #98FB98;
  border-width: 3px;
  padding: 10px;
}

/* mouse over link */
a:hover {
  color: #C8F7C5;
}

/* selected link */
a:active {
  color: yellow;
} 

/* focused link*/
a:focus {
  color: ghostwhite;
}

/* IFRAME*/
iframe {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  background-color: #777;
  display: block;
  border-style:none;
}

/* ul */
ul.list1 {
  background-color: #000000;
  /*display: block;*/
  text-align: center;
  height: fit-content;
  width: fit-content;
  border-style: solid;
  border-color: #98FB98;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-position: inside;
  color: rgb(206, 168, 255);
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.cake-ingredients {
  background-image: url("Images/StockImage_EvergreenLeaves.jpg");
}

.kitchen-equipment {
  background-image: url("Images/StockImage_DayMoon.jpg");
}

.kitchen-equipment, .cake-ingredients {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 60%;

  background-attachment: fixed;
  min-height: 20%;
  opacity: 0.7;
}

/*.cd-logo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 100%;
}

.cd-logo {
  background-image: url("Images/StockImage_EvergreenLeaves.jpg");
  min-height: 100%;
  background-size: auto;
}*/

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}

.textSection {
  background-color:#000000;
  padding:10px 40px;
}

body, html {
  height: 100%;
  margin: 0;
}

/* Turn off parallax scrolling for tablets and phones as it is not supported */
@media only screen and (max-device-width: 1024px) {
  .cd-logo, .layer-cake, .kitchen-equipment, .cake-ingredients, .bowl-of-cakemix, .cake-in-oven, .decorated-cake {
      background-attachment: scroll;
  }
}