/* Screenreader pronunciation Exan*/
.offscreen {
  position:absolute; 
  left:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
}

/* This removes all the default margins and paddings that exist for certain elements. */
* {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  display: block;
  font-family: Helvetica, sans-serif;
}

.page-header {
  background-color: #000000;
  padding: 1.3rem;
  display: flex;
  justify-content: flex-end;
}

.nav-bar a   {
  color: white;
  padding: 1.3rem;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

.nav-bar a.active {
  background-color: #C8F7C5;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 850px) {
  .menu-icon {
      display: block;
  }
  .nav-bar {
  display: none;
  position: absolute;
  top: 3.7rem;
  left: 0;
  width: 100%;
  background-color: var(--bgcolor);
  text-align: center;
  }
}

#toggle-menu {
  display: none;
}
#toggle-menu:checked ~ .nav-bar {
  display: block;
}

/* Section */
section {
  display: flex;
}

/* EM */
em {
  background-color: #000000;
  padding: 8px;
  border-radius: 50px;
}

/*ultranautsLogo*/
#ultranauts-logo {
  background-color: #000000;
  border: #000000;
  border-radius: 100px;
}

/* H1 */
h1 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    text-transform: uppercase;
    /*color: #7FFFD4;*/
    color: #5BFFE6;
    text-decoration: none;
    text-shadow: #F9D3A9;
    font-family: Helvetica, sans-serif;
    padding: 15px;
  }

/* Paragraph */
p {
    text-align: center;
    font-size: 1em;
    color: #F9D3A9;
    font-family: Helvetica, sans-serif;
  }

/* Into Text Div*/
.intro-text {
    background-image: url("Images/eXn_cyberpunk_city_street_bladerunner1.png");
    background-repeat: round;
    /*background-color: darkslateblue;*/
    /*background-color: #6E599D;*/
    font-family: Helvetica, sans-serif;
    text-shadow: 1px 2px #cc67da;
  }

/* button */ 
button {
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* unvisited link */
a:link {
  color: #37BC9D;
  background-color: black;
  border-style: dashed;
  border-color: #853D78;
  border-width: 3px;
  border-radius: 30px;
  padding: 10px;
}

/* visited link */
a:visited {
  /*color: rgb(206, 168, 255);*/
  color: #37BC9D;
  background-color: black;
  border-style: dashed;
  border-color: #853D78;
  border-width: 3px;
  padding: 10px;
}

/* mouse over link */
a:hover {
  color: #C8F7C5;
}

/* selected link */
a:active {
  color: #ffffff;
} 

/* focused link*/
a:focus {
  color: ghostwhite;
}

/* IFRAME*/
iframe {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  background-color: #777;
  display: block;
  border-style:none;
}

/* ul */
ul.list1 {
  background-color: #000000;
  padding: 20px;
  /*display: block;*/
  text-align: center;
  height: fit-content;
  width: fit-content;
  border-style: solid;
  /*border-color: #98FB98;*/
  border-color: #853D78;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-position: inside;
  /*color: rgb(206, 168, 255);*/
  color: #37BC9D;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  /*display: flex;
  flex-direction: column;
  align-content: center;*/
}

.cake-ingredients {
  /*background-image: url("Images/eXn_cyberpunk_city_street_bladerunner_neon_dark_windows_detaile_76784dde-dc4a-4800-99ad-08bc9b7b82bd\ \(2\).png");
  background-repeat: round;*/
  background-color: #096C7D;
}


.kitchen-equipment {
  /*background-image: url("Images/eXn_cyberpunk_city_street_bladerunner_neon_dark_windows_detaile_76784dde-dc4a-4800-99ad-08bc9b7b82bd\ \(2\).png");
  background-repeat: round;*/
  background-color: #472860;
}

.kitchen-equipment, .cake-ingredients {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #472860;
  background-size: cover;
  min-height: 60%;
  background-attachment: fixed;
  min-height: 20%;
  /*opacity: 0.9;*/
}

/*.cd-logo {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 100%;
}

.cd-logo {
  background-image: url("Images/StockImage_EvergreenLeaves.jpg");
  min-height: 100%;
  background-size: auto;
}*/

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}

.textSection {
  background-color:#000000;
  padding:10px 40px;
  min-height: 20%;
  display: flex;
}

body, html {
  height: 100%;
  margin: 0;
}

/* Turn off parallax scrolling for tablets and phones as it is not supported */
@media only screen and (max-device-width: 1024px) {
  .cd-logo, .layer-cake, .kitchen-equipment, .cake-ingredients, .bowl-of-cakemix, .cake-in-oven, .decorated-cake {
      background-attachment: scroll;
  }
}